:root {
  --one-color: #FBFBFF;
  --two-color: #656565;
  --transparent-color: #a5a5a5;
  --three-color: #22031F;
  --four-color: #A882DD;
  --five-color: #C7EF00;
  --shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
    background-color: var(--one-color);
    font-family: "Inter", "Noto Sans JP", sans-serif;
}

#header {
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
    position: relative;
    flex-shrink: 0;
}

#heading {
    color: var(--four-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    font-family: "WDXL Lubrifont JP N", sans-serif;
}

#settings {
    color: var(--two-color);
    position: absolute;
    right: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

#settings:hover {
    transform: rotate(360deg);
    color: var(--four-color);
}

#main-content {
    width: 90%;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#categories {
    min-height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-bottom: 16px;
    width: min(700px, 100%);
}

.category {
    background-color: white;
    margin-right: 10px;
    padding: 10px;
    border: solid transparent 2px;
    box-shadow: var(--shadow);
    margin-top: 10px;
    flex-shrink: 0;
    font-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
}

.category:hover {
    border: solid var(--two-color) 2px;
}

#highlighted-category {
    border: solid var(--two-color) 2px;

}

#tasks {
    height: fit-content;
    width: 100%;
    min-width: 700px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task {
    width: min(700px, 100%);
    height: content;
    border: solid black 2px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.row1 {
    height: content;
    width: 100%;
    display: flex;
}

.checkbox-container {
    font-size: 24px;
}
.title {
    margin-left: 12px;
    font-size: 16px;
    padding-top: 5px;
    margin-right: auto;
}
.options-container {
    padding-top: 5px
}