:root {
  --one-color: #FBFBFF;
  --two-color: #656565;
  --three-color: #22031F;
  --four-color: #A882DD;
  --five-color: #C7EF00;
  --shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
    background-color: var(--one-color);
    font-family: "Inter", "Noto Sans JP", sans-serif;
}

#header {
    display: flex;
    height: 50px;
    align-items: center;
    width: 100%;
    position: relative;
    flex-shrink: 0;
}

#heading {
    color: var(--four-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    font-family: "WDXL Lubrifont JP N", sans-serif;
}

#settings {
    color: var(--two-color);
    position: absolute;
    right: 0;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
    transition: transform .7s ease-in-out;
}

#settings:hover {
    transform: rotate(360deg);
    color: var(--four-color);
}

#main-content {
    /* border-top: solid var(--two-color) 2px; */
    width: 90%;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#categories {
    min-height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-bottom: 16px;
    width: min(700px, 100%);
}

.category {
    background-color: white;
    margin-right: 10px;
    padding: 10px;
    border: solid transparent 2px;
    box-shadow: var(--shadow);
    margin-top: 10px;
    flex-shrink: 0;
    font-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
}

.category:hover {
    border: solid var(--two-color) 2px;
}

#highlighted-category {
    border: solid var(--two-color) 2px;

}

#tasks {
    /* border: solid black 1px; */
    height: fit-content;
    width: 100%;
    min-width: 700px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.task:not(#task-expanded)  {
    /* background-color: pink; */
    width: min(700px, 100%);
    min-width: 700px;
    height: 100px;
    margin-top: 10px;
    /* border: solid var(--two-color) 2px; */
    box-shadow: var(--shadow);

    /* grid */
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 3fr 6fr 1fr;
}
#task-expanded {
    /* background-color: pink; */
    width: min(700px, 100%);
    min-width: 700px;
    height: 100px;
    margin-top: 10px;
    /* border: solid var(--two-color) 2px; */
    box-shadow: var(--shadow);
    display: grid;
    height: auto;
    grid-template-rows: auto auto auto; /* everything sizes to content */
    grid-template-columns: 1fr 3fr 6fr 1fr;
}

.task div {
    box-sizing: border-box;
    border: solid black 1px;
}

.check-box-container {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.title-container {
    grid-area: 1 / 2 / 2 / 4;
    display: flex; align-items: center;
}
.date-container {
    grid-area: 3 / 2 / 4 / 3;
    display: flex; align-items: center;
}
.desc-container {
    display: flex; align-items: center;
    grid-area: 2 / 2 / 3 / 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.priority-container {
    display: flex; align-items: center;
    grid-area: 3 / 3 / 4 / 5;
}
.options-container {
    display: flex; align-items: center;
    grid-area: 1 / 4 / 2 / 5;;
}